In [1]:
# import libraries.
import numpy as np
import pandas as pd
import os

In [2]:
# load csv files into pandas dataframes.
df_waltz = pd.read_csv('C:/Users/Frederick Russo/Desktop/waltzdb_export.csv')
df_waltz.head()

,Classification,FTIR Image,FTIR peaks,Proteostat binding,Sequence,TANGO,TEM Staining,TEM image,Waltz 1,Subset
0,non-amyloid,NaN,NaN,NaN,AAAQAA,0.0,no,NaN,0.0,TDP43
1,non-amyloid,NaN,NaN,NaN,AAELRN,0.0,N.A.,NaN,0.0,Literature
2,non-amyloid,NaN,NaN,NaN,AAIDWF,0.0,no,NaN,0.0,FUS
3,non-amyloid,NaN,NaN,NaN,AAIGWG,0.0,no,NaN,0.0,TDP43
4,non-amyloid,NaN,NaN,NaN,AALQSS,0.0,no,NaN,0.0,TDP43

In [3]:
# filter out unnecessary columns.
chosen_headers = ['Sequence', 'Classification']
df_waltz = df_waltz[chosen_headers]
df_waltz.head()

  Sequence Classification
0   AAAQAA    non-amyloid
1   AAELRN    non-amyloid
2   AAIDWF    non-amyloid
3   AAIGWG    non-amyloid
4   AALQSS    non-amyloid

In [4]:
# convert amyloid/non-amyloid classifications into binary 1/0.
df_waltz = df_waltz.replace(to_replace = 'non-amyloid', value = 0)
df_waltz = df_waltz.replace(to_replace = 'amyloid', value = 1)
df_waltz.head()

  Sequence  Classification
0   AAAQAA               0
1   AAELRN               0
2   AAIDWF               0
3   AAIGWG               0
4   AALQSS               0

In [5]:
# define dictionary of binary amino acid abbreviation mappings.
amino_dict = {
    'A' : '1000000000000000000000',
    'B' : '0100000000000000000000',
    'C' : '0010000000000000000000',
    'D' : '0001000000000000000000',
    'E' : '0000100000000000000000',
    'F' : '0000010000000000000000',
    'G' : '0000001000000000000000',
    'H' : '0000000100000000000000',
    'I' : '0000000010000000000000',
    'K' : '0000000001000000000000',
    'L' : '0000000000100000000000',
    'M' : '0000000000010000000000',
    'N' : '0000000000001000000000',
    'P' : '0000000000000100000000',
    'Q' : '0000000000000010000000',
    'R' : '0000000000000001000000',
    'S' : '0000000000000000100000',
    'T' : '0000000000000000010000',
    'V' : '0000000000000000001000',
    'W' : '0000000000000000000100',
    'Y' : '0000000000000000000010',
    'Z' : '0000000000000000000001'
}

# define a function to convert from abbreviation to binary string.
def abbrev_to_binary(str):
    binary_list = ''
    for s in str:
        binary_list += amino_dict[s]
    return binary_list;

In [6]:
# convert amino acid abbreviations into binary strings.
df_waltz['Sequence'] = df_waltz['Sequence'].apply(abbrev_to_binary, 1)
df_waltz.head()

                                            Sequence  Classification
0  1000000000000000000000100000000000000000000010...               0
1  1000000000000000000000100000000000000000000000...               0
2  1000000000000000000000100000000000000000000000...               0
3  1000000000000000000000100000000000000000000000...               0
4  1000000000000000000000100000000000000000000000...               0